<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Ionic app homepage
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-button routerLink="/geolocation" expand="block">
            Geolocation page
        </ion-button>

        <ion-button routerLink="/read-qr-code" expand="block">
            QR code reader page
        </ion-button>

        <ion-button routerLink="/nfc-reader" expand="block">
            NFC code reader page
        </ion-button>
    </div>
</ion-content>
